.login_header {
    height: 10vmin;
}

.login_header_1 {
    height: 1vmin;
}

.login_header_2 {
    height: 2vmin;
}

.login_header_3 {
    height: 3vmin;
}

.login_header_4 {
    height: 4vmin;
}

.login_header_5 {
    height: 5vmin;
}

.login_header_6 {
    height: 6vmin;
}

.login_header_7 {
    height: 7vmin;
}

.login_header_8 {
    height: 8vmin;
}

.login_header_9 {
    height: 9vmin;
}

.login_leftside {
    background-image: url(login_phone.png);
    min-width: 30%;
    max-width: 30%;
    /* background-size: 454px 618px;
    flex: 0 0 auto;
    width: 30%; */
}

.phone_header {
    height: 98px;
}

.phone_body {
    min-height: 618px;
    min-width: 450px;
}

.phone_body_img {
    margin-left: 136px;
    margin-right: 45px;
    min-height: 433px;
    min-width: 244px;
}

.container-margin-b5 {
    margin-bottom: 5px;
}

.container-margin-b10 {
    margin-bottom: 10px;
}

.container-margin-t5 {
    margin-top: 5px;
}


.container-ccenter {
    min-width: 30%;
}