.login_header {
    height: 10vmin;
}

.login_header_1 {
    height: 1vmin;
}

.login_header_2 {
    height: 2vmin;
}

.login_header_3 {
    height: 3vmin;
}

.login_header_4 {
    height: 4vmin;
}

.login_header_5 {
    height: 5vmin;
}

.login_header_6 {
    height: 6vmin;
}

.login_header_7 {
    height: 7vmin;
}

.login_header_8 {
    height: 8vmin;
}

.login_header_9 {
    height: 9vmin;
}

.login_leftside {
    background-image: url(login_phone.png);
    min-width: 30%;
    max-width: 30%;
    /* background-size: 454px 618px;
    flex: 0 0 auto;
    width: 30%; */
}

.phone_header {
    height: 98px;
}

.phone_body {
    min-height: 618px;
    min-width: 450px;
}

.phone_body_img {
    margin-left: 136px;
    margin-right: 45px;
    min-height: 433px;
    min-width: 244px;
}

.phone_body_img_size {
    height: 433px;
    width: 244px;
}

.margin-b5 {
    margin-bottom: 5px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-t5 {
    margin-top: 5px;
}

.center-margin {
    float: none;
    margin:100 auto;
}

.container-ccenter {
    min-width: 30%;
}

.s311c {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background-color: #dbdbdb;
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    position: relative;
    top: .45em;
}

._0tv-g {
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 18px;
    text-transform: uppercase;
}

.ligwidth {
    width: 350px;
}

.container-margin-b10 {
    margin-bottom: 10px;
}